@use "variables" as *;

/* Header & Navigation */

header {
  background-color: white;
  border-bottom: $border-thin solid $very-light-grey;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $spacing-sm 0;

  a {
    font-size: $size-body;
    color: $black;
    text-decoration: none;
    transition: color $transition-normal ease;

    &:hover {
      color: $primary;
    }
  }

  @media (min-width: $breakpoint-mobile) {
    padding: $spacing-sm 0;
  }
}
