@use "../variables" as *;

/* Container */

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @media (min-width: $breakpoint-mobile) {
    padding: 0 $spacing-lg;
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;

  @media (max-width: $breakpoint-mobile) {
    max-width: 100vw;
    gap: $spacing-lg;
    padding: $spacing-md $spacing-md;
  }
}
