@use '../variables' as *;

/* Container */

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @media (min-width: $breakpoint-mobile) {
    padding: 0 $spacing-lg;
  }
}
