@use "sass:color";
@use "../variables" as *;

/* Button Component */

.btn {
  display: inline-block;
  padding: $spacing-md $spacing-lg;
  border-radius: $radius-button;
  font-weight: $font-weight-semibold;
  font-size: $size-body-small;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all $transition-normal ease;

  &:hover {
    transform: translateY(-0.125rem);
    box-shadow: $shadow-md;
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-primary {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: color.adjust($primary, $lightness: -8%);
  }
}

.btn-primary-outline {
  background-color: transparent;
  color: $primary;
  border: $border-regular solid $primary;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.btn-secondary {
  background-color: $secondary;
  color: white;

  &:hover {
    background-color: color.adjust($secondary, $lightness: -8%);
  }
}

.btn-secondary-outline {
  background-color: transparent;
  color: $secondary;
  border: $border-regular solid $secondary;

  &:hover {
    background-color: $secondary;
    color: white;
  }
}
