---
import NeighborhoodLayout from '../layouts/NeighborhoodLayout.astro';
import CTAButton from '../components/CTAButton.astro';
---

<NeighborhoodLayout
  title="buurtkompas.be - Vind jouw perfecte buurt"
  description="Ontdek hondvriendelijke buurten in België. Vind de perfecte plek voor jou en je hond."
  canonical="https://buurtkompas.be/"
>
  <h1>Welkom bij buurtkompas.be</h1>
  <p>Test pagina voor de NeighborhoodLayout</p>

  <CTAButton
    href="#"
    text="Test CTA Button (GA4 Event)"
    eventName="test_cta_click"
  />
</NeighborhoodLayout>
